*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #FFFEFA;
}

/* common class */

.btn{
    background-color: #872BFF;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 11px 31px 0 #8C8C8C;
    cursor: pointer;
}

.container{
    width: 87.5%;
    margin: 0 auto;
}
.hedading{
    text-align: center;
    margin-bottom: 60px;
    
}
.hedading h4{
    color: #6A14DA;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 30%;
    text-transform: uppercase; 
    padding: 14px;
}

.hedading h2{
    font-size: 45px;
    font-weight: bold;
    color: black;
}

.card-box{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.card{
    width: 320px;
    background: white;
    /* border: 1px solid red; */
    text-align: center;
    padding: 40px;
    box-shadow: 0 4px 4px #00000025;
    border-radius: 16px;
}

.card *{
    margin-bottom: 20px;
}

.card h1{
    font-size: 24px;
    font-weight: bolder;
    line-height: 36px;
}

.card p{
    color: #0D1321;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

.card a{
    font-size: 16px;
    font-weight: bold;
    color: #0D1321;
}

/* hero section code start here */

#hero{
    background-image: url('assets/Hero-bg.png');
    background-size: 500px;
    padding-top: 60px;
    margin-bottom: 150px;
}

#hero-container{
    display: flex;
    justify-content: space-between;
    width: 87.5%;
    gap: 40px;
    margin: 0 auto;
    align-items: end;
    padding-right: 20px;
}

#hero-content{
    padding-bottom: 100px;
}

#hero-content h1{
    color: #000000;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 30px;
}
#hero-content h1 span{
    color: #872BFF;
}

#hero-content p{
    color: #8A8A8A;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.btn-white{
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 30px;
    border-color: #872BFF;
    background: white;
    margin-left: 20px;
    box-shadow: 0 11px 31px 0 #8C8C8C;
}

.btn-white:hover{
    color: #fff;
    background: #872BFF;
    transition: 0.3s;
}

#hero-image{
    width: 500px;
    vertical-align: middle;
}


/* skills section code start here */

#skill{
    margin-bottom: 150px;
}

